@using EntityLayer.Concrete
@model List<Customer>

@{
    string color = ""; /*Burada,  durumun aktif ve pasif olma durumuna göre renk değiştrimesi için bir değişken atıyoruz*/
}

@{
    string active = ""; /*Burada,  boolean değeri aktif ya da pasif olarak dönüştürmek için değer atıyoruz*/
}

@{
    string change_activity = ""; /*Burada,  aktif olan değeri pasife, pasif olan değeri ise aktife dönüştürmek için butona ne yazdıracağımızın değerini atadık*/
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Doğum Tarihi</th>
                            <th>Telefon Numarası</th>
                            <th>Mail</th>
                            <th>Kayıt Tarihi</th>
                            <th>Cinsiyet</th>
                            <th>Durum</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Aktiflik</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status == true)
                            {
                                color = "badge badge-success";
                                active = "Aktif";
                                change_activity = "Pasif";

                            }

                            if (item.Status == false)
                            {
                                color = "badge badge-danger";
                                active = "Pasif";
                                change_activity = "Aktif";

                            }
                            <tr>
                                <td>@item.CustomerID</td>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.DateOfBirth.ToString("dd.MM.yyyy")</td> @*Böylece sadece tarih formatı alınmış olunur*@
                                <td>@item.PhoneNumber</td>
                                <td>@item.Mail</td>
                                <td>@item.RegistrationDate</td>
                                <td>@item.Gender</td>
                                <td><span class="@color">@active</span></td>
                                <td><a href="/Customer/DeleteCustomer/@item.CustomerID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Customer/UpdateCustomer/@item.CustomerID" class="btn btn-outline-success">Güncelle</a></td>
                                <td><a href="/Customer/ActivateCustomer/@item.CustomerID" class="btn btn-dark btn-sm">@change_activity yap</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Customer/AddCustomer/" class="btn btn-info">Yeni Deneyim Ekle</a>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <a href="/Customer/ActiveCustomers/" class="btn btn-primary btn-lg btn-block">Aktif Müşterileri Gör</a>
    </div>
    <div class="col-lg-6">
        <a href="/Customer/NotActiveCustomers/" class="btn btn-primary btn-lg btn-block">Pasif Müşterileri Gör</a>
    </div>
</div>